body {
  overflow-x: hidden;
}

.home {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.home h1 {
  font-size: 90px;
  color: #eae8ff;
}

.home .button button {
    margin-top:2%;
  padding: 0.5vw 1.2vh;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  outline: none;
}

.home .button button:hover {
  padding: 0.5vw 2vh ;
  border: 1px solid white;
  background-color: white;
  color: black;
  transition: all 0.3s ease;
}

.home .button button:active {
  padding: 0.5vw 2vh ;
  border: 1px solid white;
  background-color: #b5b2b8;
  color: black;
  transition: all 0.3s ease;
}

.marketplace {
  padding-top:6rem;
  flex: 1;
  display: flex;
  background-color:#ddd;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.marketplace-content .Coolers .Mattresses {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.Coolers{
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: space-evenly; 
}
.Mattresses{
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: space-evenly; 
 
}
