body{
    overflow-y:hidden;
   
}
.MapContainer {
    margin-top:7rem;
    width: 100vw;
   height:100vh;
   overflow-y:hidden;
   
  }
  
  .MapContainer .leaflet-container {
    width: 100%;
    height: 100%;
  }
  
  /* .MapContainer .leaflet-popup-content {
    text-align: center;
    padding: 10px;
  }
  
  .MapContainer .leaflet-popup-content h3 {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .MapContainer .leaflet-popup-content p {
    margin: 0;
  }
   */