* {
    margin: 0;
    padding: 0;
    
  }
  body {
    min-height: 100vh;
    background-color: inherit;
  }
  nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    z-index:3000;
  }
  .nav_logo{
    min-height:5vh;
    min-width:4vw;
    max-height:9vh;
    max-width:4vw;
    margin-left: 2vw;
  }
  .nav_link{
    text-decoration: none;
    color:white;
  }
  .nav_link:hover{
    text-decoration: none;
    color:#B0D7FF;
  }
  
  .nav_link:active{
    text-decoration: none;
    color:#EAE8FF;
  }
  ul {
    list-style: none;
  }
  
  li {
    display: inline;
    margin: 0 1rem;
    color: #fff;
  }
  