body {
  overflow-x: hidden;
}

.product-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width:100%;
  min-height:100vh;
  margin-top:5rem;
  background-color: #f9f9f9;
  padding: 2rem;
 
  flex-wrap: wrap; 
}

.product-image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin-bottom: 2rem;
  animation:fadeIn 1.2s;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-thumbnails {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.thumbnail-image {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  cursor: pointer; 
}

.product-details {
  width: 60%;
  padding-left: 2rem;
  animation:fadeIn 1.2s;
 
}

.product-details h1 {
  font-size: 2rem;
  color: #333;
}

.price {
  font-size: 1.5rem;
  color: #666;
}

.product-description {
  margin-top: 1rem;
  font-size: 1rem;
  color: #777;
}

.product-specs {
  text-align: left;
  margin-top: 1rem;
  font-size: 1rem;
  color: #555;
}

.product-specs p {
  margin-bottom: 0.5rem;
}

.seller-info{
  color:grey;
  text-align:left;
}
.product-image{
  max-height:80vh;

}

@keyframes fadeIn {
 0% { opacity: 0; }
 100% { opacity: 1; }
}

@media (max-width: 768px) {
  .product-view {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .product-image-section, .product-details {
    width: 100%;
    padding: 0;
  }

  .product-details {
    margin-top: 2rem;
    padding-left: 0;
    text-align: center;
  }

  .product-specs {
    text-align: center;
  }

  .thumbnail-image {
    margin-right: 5px;
  }

  .product-image {
   width: 80%;
  ;
  }
}
